<% flash.each do |type, message| %>
<div class="alert alert-<%= type == "notice" ? 'success' : 'danger' %> alert-dismissible fade show mt-2" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
</div>
<% end %>