<%= turbo_frame_tag "ratings_list" do %>
<% if ratings.any? %>
<div class="list-group">
    <% ratings.includes(:user).each do |r| %>
    <div class="list-group-item">
        <strong><%= r.user.name %></strong>
        <span class="text-muted"> - <%= r.created_at.strftime("%d/%m/%Y %H:%M") %></span>
        <div class="rating-stars" style="font-size: 1.2rem;">
            <% 1.upto(5) do |i| %>
            <% if i <= r.score %>
            <span style="color: gold;">★</span>
            <% else %>
            <span style="color: lightgray;">★</span>
            <% end %>
            <% end %>
        </div>
        <div><%= r.comment %></div>
    </div>
    <% end %>
</div>
<% else %>
<p>Chưa có đánh giá nào.</p>
<% end %>
<% end %>