<div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
        <h3 class="mb-0">Thêm món ăn mới</h3>
    </div>

    <div class="card-body">
        <%= render "shared/flash" %>

        <div id="food_drink_form">
            <%= render "form", food_drink: @food_drink %>
        </div>
    </div>
</div>